Databases-master/01. XML Basics/Homework/students.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:students" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="students">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="student">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" />
              <xs:element name="sex" />
              <xs:element name="birthDate" />
              <xs:element name="phone" />
              <xs:element name="email"/>
              <xs:element name="course" />
              <xs:element name="specialty" />
              <xs:element name="facultyNumber" />
              <xs:element name="takenExams">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="exam">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" />
                          <xs:element name="tutor" />
                          <xs:element name="score" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:simpleType name="email">
    <xs:restriction base="xs:string">
      <xs:pattern value="([0-9a-zA-Z]([-.\w]*[0-9a-zA-Z])*@([0-9a-zA-Z][-\w]*[0-9a-zA-Z]\.)+[a-zA-Z]{2,9})"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>